<div class="">
  <p id="notice"><%= notice %></p>

  <p class="container bg-primary my-3 p-3">
    <strong class="text-white" style="font-size:large">Project Title:</strong>
    <span class="text-white" style="padding:20px"><%= @project.title %></span>
  </p>

  <p class="container border my-3 p-3">
    <strong style="font-size:large">Description:</strong>
    <span style="padding:20px"><%= @project.description %></span>
  </p>

  <div class="container">
    <a class="btn btn-warning text-white"<%= link_to 'Edit', edit_project_path(@project) %></a>
    <a class="btn btn-primary text-white"<%= link_to 'Back', projects_path %></a>
  </div>
</div>