<!DOCTYPE html>

  <html>
    <head>
      <title>Cs3300</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
      <div class="navbar navbar-expand-sm bg-dark fixed-top">
        <% if user_signed_in? %>
          <ul class="btn-group navbar-nav">
            <a class="text-white btn btn-info" <%= link_to "Home", projects_path %></a>
            <a class="text-white btn btn-info" <%= link_to 'Edit profile', edit_user_registration_path %></a>
            <a class="text-white btn btn-info" <%= link_to "Logout", destroy_user_session_path, method: :delete %></a>
          </ul>
          <span class="navbar-text" style="padding-left:20px"><strong style="color:white"><%= current_user.email %></strong>.</span>

        <% else %>
          <ul class="btn-group navbar-nav">
            <a class="text-white btn btn-info" <%= link_to "Home", projects_path %></a>
            <a class="text-white btn btn-info" <%= link_to "Sign up", new_user_registration_path %></a>
            <a class="text-white btn btn-info"<%= link_to "Login", new_user_session_path %></a>
          </ul>
        <% end %>
      </div>
      <div style="padding-top:60px"></div>
      <%= yield %>
    </body>
  </html>
